{% extends 'base.html' %}

{% block meta %}

<h3>Tugas 4 PBP</h3>
<h4>Username: {{ username }}</h4>

{% endblock meta %}

{% block content %}

<style>
    h3 {
        color: grey
        position:absolute;
        left: -80px;
        top:2px;
    }
    body {
        text-align: center;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }
    th {
        background-color: #333;
        color: white;
        font-size: 0.875rem;
        text-transform: uppercase;
        height: 50px;
        
    }
    td {
        height: 50px;
        border-bottom: 1px solid #ddd;
    }
</style>

<h3 style="position:sticky-top">TASK</h3>

<table>
    <tr>
    <th>Date Created</th>
    <th>Title</th>
    <th>Description</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for data in data_task %}
        <tr>
            <td>{{data.date}}</td>
            <td>{{data.title}}</td>
            <td>{{data.description}}</td>
        </tr>
    {% endfor %}
</table>

<form action="create-task/" method="post">
    {% csrf_token %}
    {{ form }}
    <input style="background-color:#D2DAFF; border: none; padding: 15px 32px;
    text-decoration: none; display: inline-block; cursor: pointer; margin-top: 20px"
    onmouseover="this.style.backgroundColor='#AAC4FF';" onmouseout="this.style.backgroundColor='#D2DAFF';" 
    type="submit" value="Create New Task">
</form>

<button style="background-color:#B7C4CF; border: none; padding: 15px 32px;
    text-decoration: none; display: inline-block; cursor: pointer; margin-top: 20px"
    onmouseover="this.style.backgroundColor='#CFD2CF';" onmouseout="this.style.backgroundColor='#B7C4CF';">
    <a href="{% url 'todolist:logout' %}">Logout</a>
</button>

{% endblock content %}